[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/opt/bin/kubelet \
  --api-servers=http://127.0.0.1:8080 \
  --register-schedulable=false \
  --allow-privileged=true \
  --config=/etc/kubernetes/manifests \
  --hostname-override={{private_address}} \
  --node-labels="role=master,version={{kubernetes.version}}" \
  --cloud-provider={{kubernetes.cloudProvider}} \
  --cluster-dns={{kubernetes.serviceIpDns}} \
  --cadvisor-port=0 \
  --cluster-domain=cluster.local

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
