[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/opt/bin/kubelet \
  --api-servers=http://127.0.0.1:8080 \
  --register-schedulable=false \
  --allow-privileged=true \
  --config=/etc/kubernetes/manifests \
  --hostname-override={{ privateIP }} \
  --node-labels="role=master" \
{% if kubernetes.cloudProvider is defined and kubernetes.cloudProvider != "" %}
  --cloud-provider={{ kubernetes.cloudProvider }} \
{% endif %}
  --cluster-dns={{ kubernetes.serviceIpDns }} \
  --cluster-domain={{ kubernetes.dns.domainName }} \
  --cadvisor-port=0

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
