[Service]
Environment=FLOCKER_CONTROL_SERVICE_HOST=control-service
Environment=FLOCKER_CONTROL_SERVICE_PORT=4523
Environment=FLOCKER_CONTROL_SERVICE_CA_FILE=/etc/flocker/cluster.crt
Environment=FLOCKER_CONTROL_SERVICE_CLIENT_KEY_FILE=/etc/flocker/kubelet.key
Environment=FLOCKER_CONTROL_SERVICE_CLIENT_CERT_FILE=/etc/flocker/kubelet.crt
