apiVersion: v1
kind: Pod
metadata:
  name: kube-controller-manager
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-controller-manager
    image: {{ kubernetes.hyperkubeImage }}
    command:
    - /hyperkube
    - controller-manager
    - --master=http://127.0.0.1:8080
    - --leader-elect=true
    - --service-account-private-key-file=/etc/kubernetes/ssl/apiserver-key.pem
    - --root-ca-file=/etc/kubernetes/ssl/ca.pem
{% if kubernetes.cloudProvider is defined and kubernetes.cloudProvider != "" %}
    - --cloud-provider={{ kubernetes.cloudProvider }}
{% endif %}
    livenessProbe:
      httpGet:
        host: 127.0.0.1
        path: /healthz
        port: 10252
      initialDelaySeconds: 15
      timeoutSeconds: 1
    volumeMounts:
    - mountPath: /etc/kubernetes/ssl
      name: ssl-certs-kubernetes
      readOnly: true
    - mountPath: /etc/ssl/certs
      name: ssl-certs-host
      readOnly: true
{% if kubernetes.cloudProvider == "aws" and (kubernetes.version | version_compare('1.3', '>=')) %}
    - mountPath: /dev
      name: dev-host
{% endif %}
  volumes:
  - hostPath:
      path: /etc/kubernetes/ssl
    name: ssl-certs-kubernetes
  - hostPath:
      path: /usr/share/ca-certificates
    name: ssl-certs-host
{% if kubernetes.cloudProvider == "aws" and (kubernetes.version | version_compare('1.3', '>=')) %}
  - hostPath:
      path: /dev
    name: dev-host
{% endif %}
