{
  "CN": "admin-user",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ pki_country }}",
      "L": "{{ pki_locality }}",
      "O": "{{ pki_organisation }}",
      "OU": "{{ pki_organisational_unit }}",
      "ST": "{{ pki_state }}"
    }
  ]
}
