apiVersion: v1
kind: Config
clusters:
- name: kubernetes
  cluster:
    server: {{kubernetes.masterApiUrlExternal}}
    certificate-authority-data: {{ lookup('file', paths.localSslDir + '/ca.pem') | b64encode }}
users:
- name: admin
  user:
    client-certificate-data: {{ lookup('file', paths.localSslDir + '/admin-user.pem') | b64encode }}
    client-key-data: {{ lookup('file', paths.localSslDir + '/admin-user-key.pem') | b64encode }}
contexts:
- context:
    cluster: kubernetes
    user: admin
  name: kubernetes-context
current-context: kubernetes-context

